body{
    background:black;
    color: white;
}
.upperdiv{
    width:100%;
    height:93vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    outline: 8px solid rgb(26, 25, 25);
}
nav{
    display: flex;
    justify-content: center;
    align-items:center;
   
    
}
.netlogo{
    height:110px;
  cursor: pointer;
  margin-left:130px;
  margin-top: 20px;
}
.language-btn1{
  background: transparent;
  color: white;
 
  display: inline-flex;
  align-items: center;
  margin-left: 800px;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
.bi-caret-down-fill{
width: 10px;
margin-left: 10px;
  
}
.bi-globe{
    margin-right: 10px;
}

.btn2{
     background-color: red;
     color: white;
     margin-right: 100px;
     font-size: 15px;
     padding: 5px 12px;
     border-radius: 5px;
     margin-left: 15px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     transition: 0.2s;
}
.btn2:hover{
  background-color: #b90505;
}
.form2{
  display: flex;
}
.email{
  margin-left:180px;
  width:350px;
  background:#201f1f;
  opacity:0.7;
  color: white;
  border: 1px solid white;
  }
  .email::placeholder{
    color:white;
  }
  
  .Start{
    width:200px;
    padding:10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color:red;
    color: white;
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    }
    .Start:hover{
      background-color: #b90505;
    }
.headercontent{
  position: absolute;
  top:30%;
  left: 20%;
  font-family: 'Times New Roman', Times, serif;
  
}

.p1 {
   font-size: 50px;
   /* font-family:Georgia, 'Times New Roman', Times, serif; */
   margin-left: 50px;
   margin-bottom: 0px;
  
}
.p2{
  font-size: 28px;
  margin-left: 270px;
  /* font-family: 'Times New Roman', Times, serif; */
}
.p3{
  font-size: 22px;
  margin-left: 150px;
  font-family: 'Times New Roman', Times, serif;
}

.bi-caret-right-fill{
  margin-top: 3px;
}
.feature1{
padding:120px;        /* for div 1 and div 2 */
display:flex;
border-bottom: 8px solid rgb(26, 25, 25);
}
.row{
  display: flex;
  justify-content:space-between;
}
.coltext1{
margin-left:120px;
}
.h21{
  font-size: 50px; /*for all th divs*/
}
.para1{             /*for all th divs*/
  font-size: 25px;
}
.image img{
height:300px;
margin-right: 100px;
}

/* div 2 */
.image2 img{
  height:380px;
  margin-left:100px;
  }
  .coltext2{
    margin-right:120px;
    }

  /* div 3*/
    .feature3{
      padding: 80px;
      display:flex;
      border-bottom: 8px solid rgb(26, 25, 25);
      }
    .image3 img{
      height:420px;
      margin-right:70px;
    }
    .coltext3{
      margin-left:120px;
      margin-top:100px;
      }

      /* div 4 */

      .image4 img{
        height:420px;
        margin-left: 100px;
      }

      .coltext4{
        margin-top:100px;
        }

        /* FAQ */
        .bottomdiv{
        
          border-bottom: 8px solid rgb(26, 25, 25);
        }
        .faqh1{
         text-align:center;
         font-size: 50px;

        }
        .faqdivs{
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .bottomtext{
          font-size: 20px;
          margin-top: 60px;
        }
        .form3{
          display: flex;
          margin-left: 300px;
          margin-bottom:60px;
        }
        .email2{
          margin-left:180px;
          width:350px;
          background-color: black;
          opacity:0.7;
          color: white;
          border: 1px solid white;
        
          }
          .email2::placeholder{
            color:white;
          }
          .callinfo{
            margin-top: 90px;
            margin-left :150px;
            color:darkgrey;
          }
          .enquiry{
               display:flex;
              justify-content:space-between;
              margin-top: 50px;
              color:darkgrey;
          }
          .list{
            margin-top: 15px;
           
          }
          .listdiv1{
            margin-left: 150px;
          }
         
          .listdiv3{
            margin-right: 500px;
          }
   .language-btn2{
  background: transparent;
  color: white;
 display: inline-flex;
  align-items: center;
  margin-left: 150px;
  margin-top: 50px;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   .questiondivs{
    background-color:#343333;
    color: white;
    padding: 25px ;
    font-size:25px;
    width: 1100px;
    margin-left: 160px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
   .subdiv{
   display: none;

   }
   .ho{
    transition:0.3s;
   }
   .ho:hover{
    background-color: hwb(0 38% 62%);
   }
   .rotat{
    transition: 0.5s;
    transform:rotate(45deg);

   }
   .rotatback{
    transform:rotate(-45deg);
   }
   .bi-plus-lg{
    transition:0.5s;
   }
   a{
    color:darkgray;
   }
   a:visited{
    color:darkgray;
   }
